@import "styles.css";

.question-div {
    max-width: 60vw;
    margin: 10px auto;
    display: none;
}

.question {
    font-size: 40px;
    color: var(--secondary-color);
}

h2, h3 {
    color: var(--secondary-color);
}

.input {
    width: 100%;
    border: solid 2px var(--secondary-color);
    border-radius: 50px;
    padding: 17px;
    font-size: 22px;
    font-family: "Afacad Flux", sans-serif;
    margin: 20px auto;
    color: var(--secondary-color);
    font-weight: bold;
}

.text-input:focus {
    outline: none;
    border: solid 2px var(--secondary-color);
}

.text-input::placeholder {
    color: var(--secondary-color-light);     
    font-size: 22px;                     
}

.mc-input:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
}

.submit {
    background: none;
    outline: none;
    border: none;
    font-size: 35px;
    color: var(--secondary-color);
    font-family: "Afacad Flux", sans-serif;
    margin: 20px 0px;
    display: block;
    width: 100%;
    text-align: right;
}

.submit:hover {
    cursor: pointer;
}
.arrow {
    color: var(--secondary-color);
    font-size: 50px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.arrow:hover {
    cursor: pointer;
}

.submit-div {
    display: flex;
    align-items: center;
}